html, body {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
  overflow: hidden;
}
#app {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4;
}
#pulp {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0ddb6;
  z-index: 0;
}
#pulp:nth-child(2) {
  z-index: 1;
}
#foot {
  width: 100%;
  min-height: 15em;
  display: flex;
  position: absolute;
  bottom: 1em;
  justify-content: center;
}
#text {
  width: 40em;
  font-size: 2em;
  position: relative;
  color: black;
  background-color: #f8efd4f0;
}
#text > h1, #text > h2, #text > h3, #text > h4, #text > h5, #text > h6 {
  text-align: center;
  margin: 0.25em 0px;
}
#text > hr {
  margin: 1em 0px;
}
#foot > div:first-child {
  width: 20em;
  background: linear-gradient(to right, #f8efd445, #f8efd4f0);
}
#foot > div:last-child {
  flex-grow: 1;
  background: linear-gradient(to left, #f8efd445, #f8efd4f0);
}
b.speaker {
  position: absolute;
  top: -2em;
  background-color: #f8efd4f0;
  padding: 0.25em;
  min-width: 2em;
  text-align: center;
}
img.speaker-img {
  position: absolute;
  transform: translateX(-50%);
  left: 10em;
  height: 450%;
  mask-image: linear-gradient(to bottom, black 0%, black 21%, transparent 22.5%, transparent 100%);
}
p.e {
  margin: 0.25em;
  font-size: 0.8em;
}
#pulp > img {
  position: absolute;
  transform: translateX(-50%);
  bottom: -45vh;
  height: 130vh;
}
#pulp > img.f {
  transform: translateX(-50%) scaleX(-1);
}
img.p-1\/6 { left: calc(100% * 1/6); }
img.p-2\/6, img.p-1\/3 { left: calc(100% * 2/6); }
img.p-3\/6, img.p-2\/4, img.p-1\/2 { left: 50%; }
img.p-4\/6, img.p-2\/3 { left: calc(100% * 4/6); }
img.p-5\/6 { left: calc(100% * 5/6); }
img.p-1\/5 { left: 20%; }
img.p-2\/5 { left: 40%; }
img.p-3\/5 { left: 60%; }
img.p-4\/5 { left: 80%; }
img.p-1\/4 { left: 25%; }
img.p-3\/4 { left: 75%; }
#pulp > img.c {
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  height: 60vh;
}
