html, body {
  margin: 0px;
  padding: 0px;
}
#app {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.4;
  width: 100vw;
  height: 100vh;
}
#pulp {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f0ddb6;
  z-index: 0;
  overflow: hidden;
}
#pulp:nth-child(2) {
  z-index: 1;
}
#back {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#foot {
  width: 102%;
  min-height: 15em;
  display: flex;
  position: absolute;
  bottom: 1em;
  justify-content: center;
  left: -1%;
}
#text {
  width: 40em;
  font-size: 2em;
  position: relative;
  color: black;
}
#text > div {
  width: 100%;
  height: 100%;
  background-color: #f8efd4f0;
  mask-image: linear-gradient(to top, transparent, black 0.25em);
  display: flow-root;
}
#text h1, #text h2, #text h3, #text h4, #text h5, #text h6 {
  text-align: center;
  margin: 0.25em 0px;
}
#text hr {
  margin: 1em 0px;
}
#foot > div:first-child {
  width: 21em;
  background: linear-gradient(to left, #f8efd4f0, #f8efd4f0 1em, #f8efd445 20em, transparent 21em);
  mask-image: linear-gradient(to top, transparent, black 0.5em);
  display: flex;
  justify-content: end;
}
.speaker-back {
  width: 100%;
  height: 100%;
  background-position: 48% 1%;
  background-size: 40em;
  mask-image: linear-gradient(265deg, #c2121200, #c2121247 1em, black 2em), linear-gradient(to left, transparent, black 1em);
  mask-composite: intersect;
  max-width: 20em;
}
#foot > div:last-child {
  flex-grow: 1;
  background: linear-gradient(to right, #f8efd4f0, #f8efd4f0 1em, #f8efd445 20em, transparent 21em);
  mask-image: linear-gradient(to top, transparent, black 0.5em);
  max-width: 21em;
  min-width: 1vw;
}
b.speaker {
  position: absolute;
  top: -2em;
  left: -0.75em;
  padding: 0.25em 0.75em;
  min-width: 2em;
  text-align: center;
  background: linear-gradient(to right, transparent 0, #f8efd4f0 0.5em, #f8efd4f0 calc(100% - 0.5em), transparent 100%);
}
p.e {
  margin: 0.25em;
  font-size: 0.8em;
}
.characters {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.characters > img {
  position: absolute;
  transform: translateX(-50%);
  bottom: -45%;
  height: 130%;
  user-select: none;
}
.characters > img.f {
  transform: translateX(-50%) scaleX(-1);
}
img.p-1\/6 { left: calc(100% * 1/6); }
img.p-2\/6, img.p-1\/3 { left: calc(100% * 2/6); }
img.p-3\/6, img.p-2\/4, img.p-1\/2 { left: 50%; }
img.p-4\/6, img.p-2\/3 { left: calc(100% * 4/6); }
img.p-5\/6 { left: calc(100% * 5/6); }
img.p-1\/5 { left: 20%; }
img.p-2\/5 { left: 40%; }
img.p-3\/5 { left: 60%; }
img.p-4\/5 { left: 80%; }
img.p-1\/4 { left: 25%; }
img.p-3\/4 { left: 75%; }
#pulp > img.c {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 10vh;
  left: 50vw;
  height: 60vh;
  mask-image: linear-gradient(to top, transparent, black 5%), linear-gradient(to bottom, transparent, black 5%), linear-gradient(to left, transparent, black 5%), linear-gradient(to right, transparent, black 5%);
  mask-composite: intersect;
  filter: opacity(96%);
}
